<!DOCTYPE html>
<html lang="en">

  <head>
    <title>All Vendors</title>
    <%- include('partials/head'); %>
    
  </head>
  
  <nav>
    <%- include('partials/navbar'); %>
  </nav>  
  
  <body>
    <div class="flex-container">
    <!-- ============================= CABECERA ================================================ -->
    <section class="cabecera">
      <div class="row mt-5">
        <div class="d-flex flex-wrap m-auto justify-content-center">
          <div class="col-md-4 col-sm-6 align-self-end ">
            <img src="/images/ropa-usada-10.jpg" style="width: 95%; height:auto" alt="">
          </div>
          <div class="col-md-3 col-sm-6  ">
            <img src="/images/ropa-usada-2.jpg" style="width: 95%; height:auto" alt="">
          </div>
          <div class="col-md-4 col-sm-6 align-self-end">
            <img src="/images/ropa-usada-12.jpg" style="width: 95%; height:auto" alt="">
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex flex-wrap m-auto justify-content-center">
          <div class="col-md-4 col-sm-6 align-self-center ">
            <img src="/images/ropa-usada-3.jpg" style="width: 95%; height:auto" alt="">
          </div>
          <div class="col-md-4 col-sm-8 text-center p-3 card1-cabecera">
            <h3><strong>Tu tienda de ropa de segunda mano</strong></h3>
            <small class="">Pantalones, Jerseys, Camisas, zapatos & muchos más.</small><br>
            <a href="/vendors/createVendor"><button class="btn btn-pink m-2">Registrate
                <div class="fa fa-angle-right"></div>
              </button><br></a>
            <span> y vende la ropa que ya no usas</span>
          </div>
          <div class="col-md-4 col-sm-6 align-self-center">
            <img src="/images/ropa-usada-7.jpg" style="width: 95%; height:100%" alt="">
          </div>
        </div>
      </div>
      <div class="row mt-2 ">
        <div class="d-flex flex-wrap m-auto justify-content-center">
          <div class="col-md-4 col-sm-6 ms-3 ">
            <img src="/images/ropa-usada-9.jpg" style="width: 90%; height:auto" alt="">
          </div>
          <div class="col-md-3 col-sm-6 ">
            <img src="/images/fotos_resize_portada.jpg" style="width: 90%; height:80%" alt="">
          </div>
          <div class="col-md-4 col-sm-6 ">
            <img src="/images/ropa-usada.jpg" style="width: 90%; height:auto" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- ============================= about us ================================================ -->
    <section id="about-us">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-5">
            
    
          </div>
          <div class="col-7">
            <h3 class="fs-2"> Acerca de nosotros</h3>
            <h5 class="lh-base text-secondary"> Vende la ropa que ya no usas. Puedes ponerla a la venta muy rápido y vender 
              sin comisión. ¿Demasiada ropa? ¡Véndela rápido! Cada segundo un artículo es comprado en SecondLife. 
              ¡Regístrate Ahora! Descarga la App Gratis.<br>
              Presentar artículos en Vinted no tiene coste. Para hacerlo, los vendedores deben completar
              un cuestionario y describir el artículo con la mayor precisión posible, indicar cualquier
              posible defecto y expresar el precio del artículo. El artículo publicado también debe ser fotografiado.
              Se debe subir, al menos, una foto de buena calidad. Las fotos deben reflejar la calidad y el aspecto 
              externo reales del artículo, así como la presencia de cualquier defecto que el artículo posea. La 
              cantidad de artículos publicados en el Catálogo es ilimitada, pero no se puede publicar el mismo
               artículo más de una vez, y los Usuarios o Usuarios Pro no pueden indicar cuántas unidades del mismo 
               artículo tienen.   </h5>
          </div>
        </div>
      </div>
    
    
    </section>

    <!-- ============================= VENDORS ================================================ -->
    <section id="vendors">
      <div class="row mt-5 vendedores">
        <div class="col-md-12 col-xs-6 d-flex align-items-center">
          <h2 class="text-center w-100 fs-1 fw-bold text-dark rounded-pill m-3 bg-secondary animate__animated animate__lightSpeedInLeft animate__slower 3s">Conoce a nuestros vendedores</h2>
        </div>
        <div class="col-md-12 col-xs-6">
          <div class="d-flex flex-wrap justify-content-center">
            <% resultVendor.forEach( vendor=> { %>
              <div class="card card-vendors p-3 py-4 m-2" style="width: 12rem">
                <div class="text-center card-body"> <img src="/images/vendors/<%-vendor.img %>" width="100px" ; height="100px"
                    class="rounded-circle">
                  <h3 class="fs-5 mt-2">
                    <%- vendor.name %>
                  </h3>
                  <span class="mt-1 clearfix">
                    <%- vendor.surname %>
                  </span>
                  <span class="mt-1 clearfix">
                    <%- vendor.phone %>
                  </span>
                  <small class="mt-4">
                    <%- vendor.description %>
                  </small><br>
                  <a href="/vendors/oneVendor/<%- vendor.vendor_id %>" class="btn btn-outline-primary">Ver más</a>
                  <!-- <div class="social-buttons mt-5">
                    <button class="neo-button"><i class="fa fa-facebook fa-1x"></i>
                    </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button>
                    <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button>
                    <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
                  </div> -->
                </div>
              </div>
              <% }) %>
          </div>
        </div>
      </div>
    </section>
    <!-- ============================= PRODUCTS ================================================ -->
    <section id="products">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card card-products">
            <div class="row d-flex align-items-center">
              <h2 class="text-center w-100 me-5 fs-1 fw-bold text-dark rounded-pill bg-danger 
                    animate__animated animate__lightSpeedInRight animate__slower 3s">Productos más vendidos</h2>
            </div>
            <div class="row mt-5">
              <% resultProduct.forEach( product=> { %>
                <div class="col-md-3 col-lg-3">
                  <div class="card card-1">
                    <div class="row">
                      <div class="fa fa-heart like like-checked"></div>
                    </div>
                    <div class="product-pic">
                      <img class="pic1" src="/images/products/<%-product.img %>">
                    </div>
                    <div>
                      <h3 class="product-name mt-1 text-center">
                        <%- product.name %>
                      </h3>
                      <h5 class="product-name">
                        <%- product.description %>
                      </h5>
                    </div>
                    <div class="row px-3 justify-content-between">
                      <p class="price">
                        <%- product.price %> €
                      </p>
                      <div class="stars">
                        <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active">
                        </span> <span class="fa fa-star star-active"></span> <span class="fa fa-star"></span>
                        <span class="fa fa-star mb-5"></span>
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======================================= FOOTER ======================================== -->
    <footer>
      <%- include('partials/footer'); %>
    </footer>

  </div>  <!-- fin container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>
